body {
  margin: 0;
  padding: 0;
  background-color: #0b013b;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-repeat: repeat;
  background-size: auto;
  font-family: sans-serif;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flask-icon {
  width: 120px;
  height: 120px;
}
